:root {
	--body-bg: #1F2428;
	--dashboard-element-bg: #24292E;
	--hover-highlight: #282E34;
}

body {
	background-color: var(--body-bg);
}

.dashboard-element {
	background-color: var(--dashboard-element-bg);
	height: 130px;
	width: 130px;
	display: block;
	border-radius: 8px;
	border-color: #1B1F23;
	border-width: thin;
	margin: 10px;
	text-align: center;
}

.dashboard-element:hover {
	background-color: var(--hover-highlight);
}
